
<ion-view view-title="{{request.name}}">
  <ion-nav-bar side="left">
    <a class="button button-clear button-icon icon ion-chevron-left" ui-sref="tab.dash"></a>
  </ion-nav-bar>

  <ion-content class='center'>
  	<div>
	    <a ng-class="vm.detail.display_name === product.display_name ? 'button button-balanced rides' : 'button button-stable rides'" ng-repeat='product in vm.products' ng-click="vm.getProductInfo(product.product_id)">{{product.display_name}}</a>
	  </div>
	  

	  <div ng-show="vm.detail" id='requestInformation' class='list list-inset'>
	
		  <div class='list-item item-icon-left'>
				{{vm.detail.description}}
		  </div>
		  <div class='list-item'>
		  	Distance: {{vm.detail.distance}}
		  </div>
		  <div class='list-item'>
		  	Estimate: {{vm.detail.estimate}}
		  </div>
		  <div class='list-item'>
		  	Duration: {{vm.detail.duration/60}} minutes
		  </div>

		  <div class='list-item'>
		  	SURGE: {{vm.detail.surge_multiplier}}
		  </div>

		  <a ng-click='vm.requestRide(vm.detail.product_id)' class='button button-balanced button-small'>REQUEST</a>
	  </div>
  </ion-content>
</ion-view>
