<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{hub.name}}">
  <ion-nav-bar side="left">
    <a class="button button-clear button-icon icon ion-chevron-left" ui-sref="tab.dash"></a>
  </ion-nav-bar>

  <ion-content class='center'>
    <div class='hub-detail'>
      <h4>{{vm.hub.name}}</h4>
      <strong>{{vm.hub.address}}</strong> to <strong>{{vm.hub.endPoint}}</strong><br>
      Departing at <strong>{{vm.hub.leaveTime}}</strong> and arriving at <strong>{{vm.hub.arriveTime}}</strong><br>
      This ride will take<strong>{{vm.hub.duration}} minutes</strong> to travel <strong>{{vm.hub.distance}} miles</strong><br>
      <div id="map" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}" >
        <ng-map default-style="true" center="41,-87" zoom="3" styles="{{vm.mapStyle}}">
         <directions
           draggable="false"
           panel="directions-panel"
           travel-mode="DRIVING"
           origin="{{vm.hub.address}}"
           destination="{{vm.hub.endPoint}}">
         </directions>
        </ng-map>
      </div>
      <button type='submit' ng-click='vm.joinHub()' class='button button-large button-balanced icon-left ion-android-favorite'>ADD TO MY HUBS</button>
      <button type='submit' ng-click='vm.navToRequest()' class='button button-large button-balanced icon-left ion-android-navigate'>REQUEST RIDE</button>
      <button type='submit' ng-click='vm.test()' class='button button-large button-balanced icon-left ion-android-navigate'>TEST CRIME</button>
    </div>
  </ion-content>
</ion-view>
