<ion-view view-title="Account" class="content-main">
  <ion-content class='center'>

   

  	<h4 ng-show='!vm.loading'>Your Hubs</h4>
  	<ion-list class="hub-list">
      <ion-item class="item-avatar item-icon-right" ng-repeat="hub in vm.hubs" type="item-text-wrap" href="/#/tab/start/results/{{hub.id}}">
        <div class="badge">
          <span>{{hub.duration}} <p>mins</p></span>
        </div>
        <h2>{{hub.name}}</h2>
        <p>{{hub.address}}</p>
        <p>To: <strong>{{hub.endPoint}}</strong></p>
        <p>Leaving at: <strong>{{hub.leaveTime | date: "HH:mm"}}</strong></p>
        <p>Duration: <strong>{{hub.duration}}</strong> mins</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

       <!--  <ion-option-button class="button-assertive" ng-click="remove(hub)">
          Delete
        </ion-option-button> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
