<ion-view view-title="Login" ng-controller="LoginController as vm" class="content-main">

  <ion-content has-header='true' padding='true'>
    <div class='row row-center'>
      <div class='center'>
        <img src = '../img/logo.png' class='logo'>
      </div>
    </div>
    <div class='row'>
    <div class='col'>
      <form action="/auth/uber">
          <input type="submit" class='button button-block button-balanced' value="Sign in with Uber">
      </form>
    </div>
    </div>
    <div class='row'>
    <div class='col'></div>
      <div class='col col-90'>
      This application is designed to help low-income residents, in underserved areas, find access to affordable transportation. RideHUB will simultaneously provide the DOT, along with state and local governments, data that can help determine where public transit options are most needed.
      </div>
      <div class='col'></div>
    </div>

  </ion-content>
</ion-view>
