<ion-view view-title="Results" class="content-main">
  <ion-content>
    <h4>Hubs near {{vm.address}}</h4>
    <ion-list class="hub-list">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="hub in vm.hubs" type="item-text-wrap" href="/#/tab/start/results/{{hub.id}}">
        <div class="badge">
          <span>{{hub.duration}} <p>mins</p></span>
        </div>
        <h2>{{hub.name}}</h2>
        <p>{{hub.address}}</p>
        <p>To: <strong>{{hub.endPoint}}</strong></p>
        <p>Ride: <strong>{{hub.leaveTime}}</strong> - <strong>{{hub.arriveTime}}</strong></p>
        <i class="icon ion-chevron-right icon-accessory"></i>

       <!--  <ion-option-button class="button-assertive" ng-click="remove(hub)">
          Delete
        </ion-option-button> -->
      </ion-item>
    </ion-list>
    <div class="content-lower">
      <p>Don't see a hub that works for you? Create your own &amp; invite neightbors to join you!</p>
      <div class="form-group vertical">
        <input type="submit" class="button button-balanced button-block" value="Start a Hub" ng-click="vm.createHub()">
      </div>
  </div>
  </ion-content>
</ion-view>
