
<ion-view view-title="Dashboard" class="content-main">

  <ion-content>

    <div id="map" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}" >
      <ng-map default-style="true" center="{{vm.location}}" zoom="15" styles="{{vm.mapStyle}}" >
        <marker no-watcher="true"
      ng-repeat="p in vm.positions"
      draggable="true"
      position="{{p.lat}}, {{p.lng}}"
      title="pos: {{p}}"></marker>
      </ng-map>
       
    </div>
    <form class='list card' ng-submit="vm.findHubs()" >

    	<div class="form-group vertical">
      	<div class="input-group">
		      <input type="text" placeholder="Enter starting location" name="startAt" size="40" ng-model="vm.startAt"/>
		      <button type="button" class="geolocate" ng-click="vm.geolocate('start')"><span class="ion-icon ion-android-pin"></span></button>
		    </div>
	    </div>

		<div class="form-group vertical">
      	<div class="input-group">
		      <input type="text" placeholder="Enter destination" name="arriveAt" ng-model="vm.search.arriveAt"/>
		      <button type="button" class="geolocate" ng-click="vm.geolocate('arrive')"><span class="ion-icon ion-android-pin"></span></button>
		    </div>
	     </div>

       <ion-toggle  ng-model="vm.scheduleRide">
           Schedule Ride
       </ion-toggle>
      <div ng-show="vm.scheduleRide">
       <div class="form-group vertical">
         	<div class="input-group">
   		      <input type="text" placeholder="Enter travel date" name="travelDate" size="40" ng-model="vm.search.travelDate"/>
   		    </div>
   	    </div>
        <br>
        <div class="list">
           <label class="item item-input item-select">
              <div class="input-label">
                {{vm.search.timingType}}
              </div>
              <select ng-model="vm.search.timingType" ng-init="vm.search.timingType = 'Arrive'">
                <option ng-value="Arrive">Arrive</option>
                <option ng-value="Leave">Leave</option>
              </select>
            </label>
        </div>

        <div class="form-group vertical">
         <div class="input-group">
           <input type="text" placeholder="No earlier than..." name="earliestArrival" size="40" ng-model="vm.search.earliestArrival"/>
         </div>
       </div>
       <div class="form-group vertical">
        <div class="input-group">
          <input type="text" placeholder="No later than..." name="latestArrival" size="40" ng-model="vm.search.latestArrival"/>
        </div>
      </div>
      <ion-toggle ng-model="vm.search.recurring">
          Recurring
      </ion-toggle>
    </div>


	     <div class="form-group vertical">
	     	<button type="submit" class="button button-balanced button-block">Find a Hub</button>
	     </div>
    </form>
  </ion-content>
</ion-view>
