<ion-view view-title="Login" class="content-main">

  <ion-content has-header='true' padding='true' class='center'>
    <div class='row row-center'>
      <div class='center'>
        <img src = '../img/logo.png' class='logo'>
      </div>
    </div>
    <div class='row'>
    <div class='col'>
      <form ng-show='!vm.environment.TESTING' action="/auth/uber">
          <input type="submit" class='button button-block button-balanced' value="Sign in with Uber">
      </form>
      <form ng-show='vm.environment.TESTING' ng-submit='vm.fakeLogin()'>
          <input type="submit" class='button button-block button-balanced' value="Sign in with Uber">
      </form>
    </div>
    </div>
    

  </ion-content>
</ion-view>
